@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BPG Arial';
  src: url(assets/fonts/bpg_arial_2009.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url(assets/fonts/bpg_nino_mtavruli_normal.ttf);
  font-style: normal;
}

@layer components {
  .backLink {
    @apply text-center text-lg font-bold underline cursor-pointer text-blue tracking-wider font-BPG-Nino-Mtavruli;
  }

  .placeholder::placeholder {
    @apply text-[#501C1C] text-sm font-BPG-Arial tracking-wide;
  }

  .member-placeholder::placeholder {
    @apply text-gray tracking-wider font-BPG-Arial text-sm;
  }

  .blueBtn {
    @apply hover:scale-105 transition-transform cursor-pointer bg-darkGreen h-12 text-center tracking-widest text-contentWhite font-bold rounded-md;
  }

  .greenBtn {
    @apply bg-green px-8 py-3 hover:scale-105 transition-transform  text-contentWhite rounded-md font-BPG-Nino-Mtavruli tracking-wider text-lg;
  }

  .bgTextarea {
    @apply w-[690px] h-[233px] bg-transparent border border-darkBlue font-BPG-Arial text-darkBlue rounded-md outline-none text-base tracking-wider member-placeholder;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type='file'] {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #143b52;
    border-radius: 100px;
  }

  ::-webkit-scrollbar-thumb {
    background: #87aec5;
    border-radius: 100px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

  .whiteScroll::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 100px;
  }
}
