@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BPG Arial';
  src: url(assets/fonts/bpg_arial_2009.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url(assets/fonts/bpg_nino_mtavruli_normal.ttf);
  font-style: normal;
}

@layer components {
  .placeholder::placeholder {
    @apply text-[#501C1C] text-sm font-BPG-Arial tracking-wide;
  }
}
